<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Customer List</title>

</head>

<body>
<h3>Customer List</h3>
<hr>

<table>

		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Age</th>
			<th>Delete</th>
			<th>Update</th>
		</tr>

		<tr th:each="customer : ${customers}">
			<td th:text="${customer.firstName}"></td>
			<td th:text="${customer.lastName}"></td>
			<td th:text="${customer.email}"></td>
			<td th:text="${customer.age}"></td>
			<td> <a th:href="@{'/admin/deleteForm/' + ${customer.id}}">Delete</a></td>
			<td> <a th:href="@{'/admin/updateForm/' + ${customer.id}}">Update</a>
		</tr>

</table>
<hr>
<a href="/admin/addForm">Add a Customer</a>
<br><br>
<a href="/">Back to Home page</a>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>



</body>



</html>